{
    "swagger": "2.0",
    "info": {
        "title": "ViFE API",
        "description": "The API for all projects of the Virtual Research Group Edirom",
        "version": "1.0.0"
    },
    "host": "edirom.de",
    "schemes": [
        "http"
    ],
    "basePath": "/api/v1",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/documents": {
            "get": {
                "summary": "Lists all documents",
                "description": "The Documents endpoint returns a list of all documents from the Hoftheater digital edition.\n",
                "tags": [
                    "Documents"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/docTypeParam"
                    },
                    {
                        "$ref": "#/parameters/offsetParam"
                    },
                    {
                        "$ref": "#/parameters/limitParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of documents",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Document"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/documents/{docID}": {
            "get": {
                "summary": "Returns documents by ID",
                "description": "This endpoint returns documents, indicated by an ID.\n Accepted ID formats are WeGA, e.g. A002068 or http://weber-gesamtausgabe.de/A002068, VIAF, e.g. http://viaf.org/viaf/310642461, or  GND, e.g. http://d-nb.info/gnd/118629662\n",
                "tags": [
                    "Documents"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "docID",
                        "in": "path",
                        "description": "The document identifier to search for",
                        "type": "string",
                        "required": true,
                        "default": "A002068"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of documents",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Document"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
         "/works": {
            "get": {
                "summary": "Lists all work documents",
                "description": "The Documents endpoint returns a list of all documents from the Hoftheater digital edition.\n",
                "tags": [
                    "Documents"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/docTypeParam"
                    },
                    {
                        "$ref": "#/parameters/offsetParam"
                    },
                    {
                        "$ref": "#/parameters/limitParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of documents",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Document"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/persons": {
            "get": {
                "summary": "Lists all persons",
                "description": "The Documents endpoint returns a list of all persons from the Hoftheater digital edition.\n",
                "tags": [
                    "Persons"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/docTypeParam"
                    },
                    {
                        "$ref": "#/parameters/offsetParam"
                    },
                    {
                        "$ref": "#/parameters/limitParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of persons",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Person"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/regie": {
            "get": {
                "summary": "Lists all regie books",
                "description": "The Documents endpoint returns a list of all documents from the Hoftheater digital edition.\n",
                "tags": [
                    "Persons"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/docTypeParam"
                    },
                    {
                        "$ref": "#/parameters/offsetParam"
                    },
                    {
                        "$ref": "#/parameters/limitParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of persons",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Person"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/gage": {
            "get": {
                "summary": "Lists all gage books",
                "description": "The Documents endpoint returns a list of all documents from the Hoftheater digital edition.\n",
                "tags": [
                    "Persons"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/docTypeParam"
                    },
                    {
                        "$ref": "#/parameters/offsetParam"
                    },
                    {
                        "$ref": "#/parameters/limitParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of persons",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Person"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/sources": {
            "get": {
                "summary": "Lists all sources",
                "description": "The Documents endpoint returns a list of all documents from the Hoftheater digital edition.\n",
                "tags": [
                    "Sources"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/docTypeParam"
                    },
                    {
                        "$ref": "#/parameters/offsetParam"
                    },
                    {
                        "$ref": "#/parameters/limitParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of sources",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Source"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Document": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string",
                    "description": "Unique identifier representing a specific document"
                }
            },
             "docID": {
                    "type": "string",
                    "description": "The WeGA document identifier representing a specific document"
                },
                "docType": {
                    "type": "string",
                    "description": "The WeGA document type"
                },
                "title": {
                    "type": "string",
                    "description": "The title of the document"
                }
        },
        "CodeSample": {
            "type": "object",
            "properties": {
                "uri": {
                    "type": "string",
                    "description": "Unique identifier representing a specific document"
                },
                "docID": {
                    "type": "string",
                    "description": "The WeGA document identifier representing a specific document"
                },
                "codeSample": {
                    "type": "string",
                    "description": "The code snippet"
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        },
        "parameters": {
            "offsetParam": {
                "name": "offset",
                "in": "query",
                "description": "Position of first item to retrieve (starting from 1)",
                "type": "integer",
                "format": "int32",
                "default": 1,
                "minimum": 1
            },
            "limitParam": {
                "name": "limit",
                "in": "query",
                "description": "Number of items to retrieve (200 max)",
                "type": "integer",
                "format": "int32",
                "default": 10,
                "maximum": 200
            },
            "fromDateParam": {
                "name": "fromDate",
                "in": "query",
                "description": "The earliest date",
                "type": "string",
                "format": "date"
            },
            "toDateParam": {
                "name": "toDate",
                "in": "query",
                "description": "The latest date",
                "type": "string",
                "format": "date"
            },
            "docTypeParam": {
                "name": "docType",
                "in": "query",
                "description": "The WeGA document type",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                    "type": "string",
                    "enum": [
                        "biblio",
                        "diaries",
                        "documents",
                        "letters",
                        "news",
                        "persons",
                        "thematicCommentaries",
                        "works",
                        "writings"
                    ]
                }
            }
        }
    }
}